<!DOCTYPE html>
<html>
    <head>
        <title>demo</title>
        <link rel="stylesheet" href="/semantic/semantic.min.css">
    </head>
    <body>
        <h1>salut les gens</h1>
        <%=test%>
    </body>
</html>